<form [formGroup]="form">
    <div class="form-group">
        <input nbInput class="form-control" formControlName="id" placeholder="id">
        <input nbInput class="form-control" formControlName="name" placeholder="name">
        <textarea nbInput class="form-control" formControlName="variations" placeholder="variations as comma seperated words"></textarea>

    </div>
</form>
<div class="form-group" *ngIf="hasError">
    <span>Oops something's wrong. Check your input and try again</span>
</div>
